### IntelliJ IDEA ###
.idea/
*.iml
*.iws

# IntelliJ workspace files
*.xml
!pom.xml

# Build output
out/
target/
build/

# Do NOT ignore "out" folders inside source dirs
!**/src/main/**/out/
!**/src/test/**/out/

### Java ###
*.class
*.log

### Advent of Code input files ###
# Ignore any file starting with "input2.txt" input1.txt can stay:
input2.txt